<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:xmlns="@{http://www.w3.org/1999/xhtml}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade" th:utext="#{browserupgrade}"/>
    <![endif]-->
    <main class="container">
      <div class="jumbotron">
        <h1 class="text-center" th:text="${time.format(timestamp)}"/>
        <h1 class="text-center" th:text="${date.format(timestamp)}"/>
      </div>
      <form class="row" method="post" th:action="${#request.servletPath}">
        <select class="col-lg" name="languageTag">
          <option th:each="option : ${locales}"
                  th:with="selected = ${option.equals(locale)},
                           value = ${option.toLanguageTag()},
                           display = ${option.getDisplayName(locale)},
                           text = ${value + ' - ' + display}"
                  th:selected="${selected}" th:value="${value}" th:text="${text}"/>
        </select>
        <select class="col-lg" name="zoneID">
          <option th:each="option : ${zones}"
                  th:with="selected = ${option.equals(zone)},
                           value = ${option.ID},
                           display = ${option.getDisplayName(locale)},
                           text = ${value + ' - ' + display}"
                  th:selected="${selected}" th:value="${value}" th:text="${text}"/>
        </select>
        <button class="col-sm-1" type="submit" th:text="'&#8635;'"/>
      </form>
    </main>
    <script th:src="@{/webjars/jquery/jquery.js}" th:text="''"/>
    <script th:src="@{/webjars/popper/popper.js}" th:text="''"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}" th:text="''"/>
  </body>
</html>
