<!--/* $Id: ChangePasswordForm.html 4065 2019-04-23 03:33:48Z ball $ */-->
<div>
  <div>
    <div>
      <form th:object="${form}">
        <input type="email"
               th:value="${#authentication.getPrincipal().getUsername()}"
               readonly="readonly"/>
        <input type="hidden" th:name="username"
               th:value="${#authentication.getPrincipal().getUsername()}"/>
        <label th:text="'E\'mail Address'"/>
        <input type="password" th:name="password"
               th:placeholder="'Old Password'"/>
        <label th:text="'Old Password'"/>
        <input type="password" th:name="newPassword"
               th:placeholder="'New Password'"/>
        <label th:text="'New Password'"/>
        <input type="password" th:name="repeatPassword"
               th:placeholder="'Repeat Password'"/>
        <label th:text="'Repeat Password'"/>
        <button type="submit" th:text="Change"/>
      </form>
    </div>
  </div>
</div>
