<div>
  <div>
    <div>
      <form th:object="${form}"
            th:with="username = ${#authentication.principal.username}">
        <input type="email" th:value="${username}" readonly="readonly"/>
        <input type="hidden" th:name="username" th:value="${username}"/>
        <label th:text="'E\'mail Address'"/>
        <input type="password" th:name="password"
               th:placeholder="'Old Password'"/>
        <label th:text="'Old Password'"/>
        <input type="password" th:name="newPassword"
               th:placeholder="'New Password'"/>
        <label th:text="'New Password'"/>
        <input type="password" th:name="repeatPassword"
               th:placeholder="'Repeat Password'"/>
        <label th:text="'Repeat Password'"/>
        <button type="submit" th:text="Change"/>
      </form>
    </div>
  </div>
</div>
